.container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px 30px;
  background: #f5f5f5;
  flex: 1;
  overflow-y: auto;
}
